#title {
    background-image: url(../images/w05_circles.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: 0;
}

div {
    background-color: #737373;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.bottom-img {
    border-radius: 50%;
    border-color: darkgrey;
    width: 20%;
    border: 5px solid black;
    margin: 60px;
}

