* {
    background-color: #5ca1d7;
}

header h1 {
    color: white;
    text-align: center;
    font-size: 3.5em;
}

header h1:hover {
    color: black;
    text-align: center;
    font-size: 3.5em;
}

header p {
    color: white;
    text-align: center;
}

#president-nelson {
    font-weight: bold;
    color: white;
    font-size: 1.1em;
}

.ordered-list {
    list-style-position: inside; /* Keeps numbers inside the list */
    padding-left: 0; /* Remove the default padding */
    text-align: center; /* Center the whole list */
    width: fit-content; /* Allows the list to adjust width based on content */
    margin: 0 auto; /* Centers the list itself horizontally */
    color: black;
    font-weight: bold;
    line-height: 25px;
}

.ordered-list li {
    text-align: left;
}

#nelson-portrait {
    width: 20%;
    max-width: 350px;
    display: block;
    margin: 0 auto;
    padding-block: 30px;
}

blockquote {
    text-align: center;
    color: white;
    font-size: 2.2em;
    padding-inline: 400px;
}

footer {
    text-align: center;
    color: black;
    font-weight: bold;
    line-height: 20px;
    padding-bottom: 20px;
    padding-inline: 500px;
}